body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

#center {
  align-items: center;
  border-radius:30px;
  display: flex;
  height: 96vh;
  justify-content: center;
  margin-top: 1%;
  width: 97vw;
}

#clock {
  color: #eee;
  font-size: 10em;
}
